
/*ahmed*/
.cm-txt-filled{
  height: 30px;
  width: 300px;
  background-color: lightgray;
  border: none;
}

.cm-txt-outline {
  height: 30px;
  width: 300px;
  border-color: gray;
}

.cm-txt-outline-primary {
  height: 30px;
  width: 300px;
  border-color: blue;
}

.cm-txt-outline-success {
  height: 30px;
  width: 300px;
  border-color: green;
}

.cm-txt-outline-warning {
  height: 30px;
  width: 300px;
  border-color: orange;
}

.cm-txt-outline-danger {
  height: 30px;
  width: 300px;
  border-color: red;
}

.cm-txt-outline-btm-primary {
  height: 30px;
  width: 300px;
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: blue;
}

.cm-txt-outline-btm-success {
  height: 30px;
  width: 300px;
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: green;
}

.cm-txt-outline-btm-warning {
  height: 30px;
  width: 300px;
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: orange;
}

.cm-txt-outline-btm-danger {
  height: 30px;
  width: 300px;
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: red;
}

.cm-ftr {
  /* margin-top: 200px; */
  height: 200px;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.cm-ftr-p{
  color: green;
  text-align: center;
  font-weight: bold;
}

.cm-ftr-menu {
  list-style: none;
  text-align: center;
}

.cm-ftr-menu-item{
  display: inline-block;
  margin: 10px;
}

.cm-ftr-menu-item > a{
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.cm-subscribe-letter {
  border-radius: 15px;
  width: 20%;
  height: 15%;
  border: none;
  margin: 2px 5px;
}

.cm-subscribe-button, .cm-ftr-login, .cm-ftr-signup {
  border-radius: 15px;
  background-color: red;
  height: 18%;
  width: 7%;
  color: white;
  font-weight: bold;
  font-style: 30px;
  border: none;
}

.cm-ftr-login{
  background-color: green;
}

.cm-ftr-signup {
  background-color: blue;
}

/*sairam*/
.cm-button 
  {
    background-color: green; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 14px;
    cursor:pointer;
    transition-duration: 0.4s;

  }
.cm-button-login
  {
      background-color: white;
      color:black;
      border: 2px solid green;
      border-radius: 4px;
  }
.cm-button-login:hover 
  {
    background-color: #4CAF50;
    color: white;
  }

.cm-button-signup 
  {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 4px;
  }
  
.cm-button-signup:hover
  {
    background-color: #008CBA;
    color: white;
  }
.cm-button-submit
  {
      background-color: gray;
      border-radius: 2px;

  }
.cm-button-submit:hover
  {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  }
.cm-button-video 
  {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:peachpuff;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;

  }
.cm-button-video:hover
  {
    opacity: 0.7;
  }
  
  
.cm-cards{
 
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  background-color: transparent;
  width: 300px;
  height: 300px;
  text-align: center;
  perspective: 1000px;
  /* position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  justify-content: center; */
}

/* .cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */


/* .flipCard
{
  transform: rotateY(180deg);
}  */
.cm-inner{
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.cm-cards:hover .cm-inner {
  transform: rotateY(180deg);
}
.cm-front,.cm-back{
  position:absolute;
  width: 300px;
  height: 300px;
  padding-top: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cm-front
{
  width: 300px;
  height: 300px;
  background:lightblue;
  /* background:papayawhip; */
  color:black;
  text-align: center;
}
.cm-back
{
  width: 300px;
  height: 300px;
  background:slategray;
  color:black;
  text-align: center;
  transform: rotateY(180deg);

}
/* .flipCard
{
  transform: rotateY(180deg);
} */